body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  z-index: 1;
}
body::after{
  background-image: url("../public/white_wave.png");
  position: absolute;
  filter: opacity(100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 0;
}

body::before{
  background-image: url("../public/white_wave_upend.png");
  filter: opacity(100%);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-sizing: content-box;
  content: "";
  bottom: 13%;
  right: 0px;
  left: 0px;
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: polka;
  src: url('../public/fonts/polka.ttf');
}

#nav-bar {
  border-bottom: 1px solid #1b3452;
  padding: 0;
  align-items: stretch;
}

#nav-bar-right {
  border-left: 1px solid #1b3452;
  padding: 0 0 0 25px;
  margin: 0;
  height: 100%;
  align-items: center;
}

#nav-brand {
  padding: 10px 40px;
  border-right: 1px solid #1b3452;
  border-left: 1px solid #1b3452;
  margin-left: 20px;
  font-family: polka;
  font-size: 35px;
  transition: all 0.5s ease;
}
#nav-brand:hover{
  font-size: 38px;
  filter: hue-rotate(30deg) contrast(200%);
}

#nav-brand:hover,
#nav-brand:visited,
#nav-brand:active,
#nav-brand:link {
  text-decoration: none;
}

.nav-link-middle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16.2px;
  font-weight: 600;
  line-height: 20px;
  color: #355070;
}

.img-filtered {
  filter: hue-rotate(20deg) brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: .5s;
  transition: .5s;

}

.img-filtered:hover {
  -webkit-transition: .5s;
  transition: .5s;
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}

#root {
  background-image: linear-gradient(-30deg, rgb(255, 207, 255) 0%, rgba(228, 219, 255, 1) 59%, rgba(151, 193, 255, 1) 97%, rgba(165, 202, 255, 1) 100%);
}

#auth-cont>* {
  border-right: 5px solid #ffdbef;
  border-bottom: 5px solid #ffdbef;
  background-image: linear-gradient(140deg, rgba(243, 187, 124, 0) 0%, rgba(217, 120, 255, 0) 43%, rgba(226, 80, 255, 0.05) 100%);
}



.product-item {
  
  padding: 0;
  min-width: 150px;
  max-width: 150px;
  margin: 10px;
}

.item-card{
  display: flex;
  padding: 0 10px;
  scale: 1;
  transition: all 0.5s ease;
}
.item-card:hover{
  scale: 1.1;
}
.item-card>img{
  align-self: center;
  border-bottom: 5px solid #ffdbef;
  border-right: 5px solid #ffdbef;

}

.product-name-text{
  max-lines: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

#shop-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  max-height: 90%;
  overflow: auto;
}

#shop-cont>h3{
  margin-top: 20px;
}
#shop-cont>div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, rgba(172, 218, 255, 0) 0%, rgba(255, 255, 255, 0.5) 43%, rgba(255, 187, 213, 0.178) 100%);
  border-radius: 15px;
  height: 100%;
  
}

#pages-bar {
  justify-self: end;
  align-self: flex-end;
}
#faq-cont{
  display: flex;
  margin-top: 20px;
  height: 400px;
  padding: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#faq-cont>*{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  flex-direction: column;
}

#faq-cont>*:first-child{
  margin-top: 15px;
  border-radius: 0px;
  height: 100%;
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("../public/store_bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-bottom: 5px solid #b884c4;
  border-right: 5px solid #b884c4;
  background-size: 100%;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  color: rgb(90, 19, 98);
  font-weight: 1000;
}

#faq-cont>*:nth-child(2){
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 15px;
  padding: 15px;
  text-align: justify;
}

#product-list{
  display: flex;
  align-items: center;
  justify-content: center;
}


#item-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: linear-gradient(120deg, rgba(172, 218, 255, .5) 0%, rgba(255, 255, 255, 0.5) 43%, rgba(255, 187, 213, .5) 100%);
  padding: 10px;
  border-radius: 15px;
}

#item-desc *{
  margin: 0;
  padding: 0;
}

#item-desc h4, #item-desc span {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#item-desc>img{
  border-bottom: 5px solid #b884c4;
  border-radius: 15px 0 0 15px;

}

#item-desc>div{
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 10px;
  padding-right: 200px;
  padding-left: 20px;
  height: 300px;
  flex-direction: column;
  background-color: white;
  max-width: fit-content;
  border-bottom: 5px solid #b884c4;
  border-right: 5px solid #b884c4;
}

#price-div{
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

#cart-cont{
  align-items: center;
  justify-content: center;
}

#cart-cont>h3{
  margin-top: 40px;
}

#cart-items-div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 60%;
}

#cart-items-div>div{
  border-bottom: 5px solid #b884c4;
  border-right: 5px solid #b884c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#cart-items-div span{
  text-overflow: ellipsis;
  max-lines: 1;
  max-width: 100%;
  overflow-wrap: normal;
  overflow: hidden;
}

#cart-items-div>div:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#cart-items-div>div:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#cart-items-div img{
  border-radius: 15px;
}

#order-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#order-form>*{
  margin-top: 20px;
}